<?xml version="1.0" encoding="utf-8" standalone="no"?>
<installer-script minSpecVersion="1.000000" authoringTool="com.apple.PackageMaker" authoringToolVersion="3.0.5" authoringToolBuild="196.1">
    <title>TrustRouter</title>
    <options customize="never" allow-external-scripts="no" rootVolumeOnly="true"/>
    <choices-outline>
        <line choice="choice10"/>
    </choices-outline>
    <choice id="choice10" title="trustrouter">
        <pkg-ref id="net.trustrouter.kext"/>
        <pkg-ref id="net.trustrouter.start"/>
        <pkg-ref id="net.trustrouter.launchdaemon"/>
        <pkg-ref id="net.trustrouter.python"/>
    </choice>
    <pkg-ref id="net.trustrouter.kext" installKBytes="32" version="1.0" auth="Root" onConclusion="RequireRestart">file:./Contents/Packages/trustrouter.pkg</pkg-ref>
    <pkg-ref id="net.trustrouter.start" installKBytes="4" version="1.0" auth="Root" onConclusion="RequireRestart">file:./Contents/Packages/start.pkg</pkg-ref>
    <pkg-ref id="net.trustrouter.launchdaemon" installKBytes="4" version="1.0" auth="Root" onConclusion="RequireRestart">file:./Contents/Packages/nettrustrouter.pkg</pkg-ref>
    <pkg-ref id="net.trustrouter.python" installKBytes="2456" version="1.0" auth="Root" onConclusion="RequireRestart">file:./Contents/Packages/trustrouter-1.pkg</pkg-ref>
</installer-script>