*.out
*.kext
__pycache__

# Mac OS X
.DS_Store*
xcuserdata/
project.xcworkspace/

# Windows
/client/kernelmode/Windows/objchk_win7_x86
/client/kernelmode/Windows/bin/i386/*.sys
/client/kernelmode/Windows/bin/i386/*.pdb
/client/kernelmode/Windows/*.obj
/client/kernelmode/Windows/*.exe