# Mac OS X
.DS_Store*
xcuserdata/
project.xcworkspace/
# Windows
/client/kernelmode/Windows/objchk_win7_x86
/client/kernelmode/Windows/bin/i386/send_callout.sys
/client/kernelmode/Windows/bin/i386/send_callout.pdb