<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IFPkgDescriptionDescription</key>
	<string>This package installs Python.framework, that is the python
interpreter and the standard library. This also includes Python
wrappers for lots of Mac OS X API's.
</string>
	<key>IFPkgDescriptionTitle</key>
	<string>Python Framework</string>
	<key>IFPkgDescriptionVersion</key>
	<string>3.3.0a1</string>
</dict>
</plist>
